<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'home' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
        
      </li>
       <hr class="sidebar-divader">
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'manageMembers' %}">
          <i class="bi bi-people"></i><span>Manage Member</span>
        </a>
      </li>
      <hr class="sidebar-divader">
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'addNewMember' %}">
          <i class="bi bi-person-plus-fill"></i><span>Add New Member</span>
        </a>
      </li>
      <hr class="sidebar-divader">
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'getIn' %}">
          <i class="bi bi-key"></i><span>GET-IN</span>
        </a>
      </li>
      <hr class="sidebar-divader">
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'plan' %}">
          <i class="bi bi-calendar-day"></i><span>Planne</span>
        </a>
      </li>
      <hr class="sidebar-divader">
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'payment' %}">
          <i class="bi bi-currency-dollar"></i><span>Payment</span>
        </a>
      </li>
      <hr class="sidebar-divader">
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'attendance' %}">
          <i class="bi bi-card-checklist"></i><span>Attendance</span>
        </a>
      </li>
      <hr class="sidebar-divader">
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'generateIdCard' %}">
          <i class="bi bi-file-earmark-person"></i><span>Genrate ID Card</span>
        </a>
      </li>
      <hr class="sidebar-divader">
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'reports' %}">
          <i class="bi bi-file-check"></i><span>Reports</span>
        </a>
      </li>
      <hr class="sidebar-divader">
  </aside>